* {font-family: Arial, sans-serif;}

.rcolor{color:#bf4800;}
.bgblack{background-color: black;}
.bgwhite{background-color: white;}
.bggray{background-color: #f2f2f2}
.bglgray{background-color: #fbfbfb}
.bgblue{background-color: #0071e3;}
.txtbblue{color: #1e3791;}
.txtbgray{color: #8b887eff ;}
.txtwhite{color: white;}
.txtblue{color:  #0071e3;}

.flex{display: flex;}
.jc-center{justify-content: center;}
.jc-space{justify-content: space-between;}
.block{display: block;}
.inlineblock{display: inline-block;}
.txtalign{text-align: center;}
h6 {
    font-weight: 400; 
    font-size: 1.1em;
    margin: 10px;
}

h2 {
    font: 500 1.8em / 0.8 Arial;
    margin: 20px 0;
}
h1 {
    font-size: 2em;
    margin: 20px 0;
}
.container{padding: 0 30px}
section {padding: 40px 0;}


#fpheader{padding: 30px 10px;}
.icons a img {padding: 0 5px;}
label img {padding: 0 5px;}
#bars {display: none;}
.nav {
    transition: .5s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%; 
    width: 100%;
}

#bars:checked ~ .nav {left: 0;}
.close-menu {
    text-align: right;
    margin: 40px;
}
#navmenu{
    padding: 20px 40px;
    font-size: 1.2em;
    line-height: 2;
}
#dmenu{display: none;}
li a{color: black;}
#phones{
        gap: 20px;
        overflow-x: scroll;
        scrollbar-width: none;
}
.phone {
    text-align: center;
    padding: 10px;
    font-size: 0.7em;
}
.new{
    padding-top: 10px;
    font-size: 0.6rem;
}
.headertext{padding: 20px;}
.headertext p {font-size: 1.3em;}
#shoplink{    
    font-size: 1em;
    padding: 10px 0;
}
#tnmimg {
    background: url('../img/titanium.jpeg') center/contain no-repeat;
    height: 40px;
    margin: 20px auto; 
    max-width: 100%; 
}
#buy , #buy2 {
    border-radius: 30px; 
    font-size: 0.8em;
    padding: 10px 25px;
    margin: 30px 0;
    transition: all 0.3s ease; 
}
#buy:hover {
    box-shadow: 5px 5px 10px white;
    transform: scale(1.05);
}
#buy2:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.05);
}
#tnmbg{
    background: url('../img/titanium-mobile.jpeg') center / contain no-repeat;
    height: 50vh;
    margin-top: 40px ; 
    max-width: 100%; 
}
#newimg{
    background: url('../img/newphoria.jpeg') center / contain no-repeat;
    height: 20vh;
    padding: 10px;
}
#iphone  p {
    font-size: 1.2em;
}
#iphnbg{
    background: url('../img/lovebg.jpeg') center / cover no-repeat;
    height: 50vh;
    max-width: 100%; 
    margin: 40px 0 ;
}
#flmbg{
    background: url('../img/applebg12.jpeg')center / cover no-repeat;
    height: 50vh;
    max-width: 100%; 
    margin: 20px 10px;
}
#film {
    p{
        font-weight: 700;
        font-size: 1.2em;
        margin: 20px 0;
    }

    a{font-size: 0.8em;}
}
#catalogy{
    flex-wrap: wrap;
    margin: auto;
}
.catalogy-img{
    height: 300px;
    padding: 0 20px;
}
#c-img{
    width: 100%;
    height: 85%;
    object-fit: contain;
    padding: 20px 0;
}
hr{ width: 70%;}
.catalogy-info{
    font: 0.7em / 2 Arial;
    padding: 0 10px;
    margin: auto;
}
.catalogy-info img{
    max-height: 40px;
    max-width: 40px;
    object-fit: contain;
}
.catalogy-info div{padding: 20px 0;}
.catalogy-one {
    width: 100%;
    display: block;
    margin: 10px 0; 
}
.end-txt div a{
    display: inline-block;
    margin: 15px 0;
}
.way{
    padding: 10px;
    margin: 15px;
}
.wayimg1 {
    height: 40vh;
    background: url('../img/savei_phone.jpg') center / contain no-repeat;
}
.way h5 {
    padding: 30px 10px;
    font-size: 1.5em;
}
.wayimg2 {
    height: 20vh;
    background: url('../img/appleemoji.jpeg') center / contain no-repeat;
}
.ways  a , .why a , .bloc a, .what a, .get a{
    display: inline-block;
    font-size: 1em;
    padding: 20px 0;

}

.wayimg3 {
    height: 30vh;
    background: url('../img/aplepphone.jpeg') center / contain no-repeat;
}

.why, .what {
    margin: 20px 10px;
    padding: 30px 15px;
}

.whybg {
    height: 30vh;
    background: url('../img/applebg6.jpeg') left / cover no-repeat;
}
.mag, .air, .magic, .blocs, .wtop, .get{
    margin: 20px 10px;
    padding: 10px;
}
.mag-img {
    background: url('../img/applephones.jpeg') center / contain no-repeat;
    height: 30vh;
    margin: 30px 0;
}
.mag p, .magic p {
    max-width: 300px;
    margin: 15px auto;
    font: 1.1em / 1.5 Arial;
}
.air-img {
    background: url('../img/airtag__b81h4czx41yq_medium.jpg') center / contain no-repeat;
    height: 30vh;
    margin: 30px 0;
}
.air-txt {
    margin-left: 50px;
    p {
        font-size: 1.1em;
        margin: 10px;
    }
} 

.magic-img,.what-img {
    height: 20vh;
    margin: 30px 0;
    background: #fff url('../img/applebg9.jpeg') top / contain no-repeat;
}
.bloc {padding: 30px 10px;}
.bloc {
    flex: 1; 
    max-width: 400px; 
    text-align: center;
}
.what-img {background: url('../img/ios17.jpg') center / cover no-repeat;}
.what-img{display: none;}
.wtop-img1 {background: url('../img/applebg.jpeg') center / cover no-repeat;}
.wtop-img2 {background: url('../img/privacy.jpg') bottom / cover no-repeat;}
.filmoption1 {background: url('../img/tv+_bg.png') center / cover no-repeat;}
.filmoption2{background: url('../img/music_bg.jpg') center 45px / cover no-repeat;}
.filmoption3{background: url('../img/fitness_bg.jpg') center / cover no-repeat;}
.filmoption4{background: url('../img/arcade_bg.png') center / contain no-repeat;}
.filmoption5{background: url('../img/news_bg.jpeg') center -100px / cover no-repeat;}
.filmoption6{background: url('../img/gift_bg.jpg') bottom / cover no-repeat;}
.wtop-img1, .wtop-img2, .filmoption2, .filmoption1, .filmoption4, .filmoption3, .filmoption5, .filmoption6{
    margin: 10px 0;
    height: 40vh;
}
.get-img{
    height: 40px;
    background: url(../img/apple_one.jpg) center / contain no-repeat;
}
.get-noneimg{
    display: none;
    padding: 20px;
}
.get-txt{margin: auto;}
.getp {
    font-size: 1.4em;
    margin: 20px 0
}
.app {
    background: url('../img/research_app.jpg') center / contain no-repeat;
    height: 30vh;
    margin: 30px 0;
}
.article{
    font-size: .9em;
    padding: 20px 0;
    color: #0000007a;
    text-align: justify;
    ol {
        padding: 0 0 30px 30px;
    }
    hr{
        width: 100%;
    }
}
footer {
    font-size: 0.8em;
    color: #000000bd;
}
footer a{
    color: #000000bd;

}
.ficon{
    margin: 10px 0 20px 16px;
    gap: 40px;
    align-items: center;
}
input {display: none;}
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}
.ftrlist {
    max-height: 0;
    overflow: hidden;
    line-height: 1.5em;
    transition: 0.3s;
    margin: 0 0 20px 20px;
}
.list div { border-bottom: 1px solid #dee2e6;}
#list1:checked ~ .ftrlist {
    max-height: 220px; 
}

#list4:checked ~ .ftrlist {
    max-height: 280px; 
}
#list5:checked ~ .ftrlist, #list4:checked ~ .ftrlist,
#list2:checked ~ .ftrlist,#list3:checked ~ .ftrlist,
#list10:checked ~ .ftrlist, #list11:checked ~ .ftrlist {
    max-height: 160px;
}
#list7:checked ~ .ftrlist, #list6:checked ~ .ftrlist,
#list3:checked ~ .ftrlist, #list8:checked ~ .ftrlist,#list9:checked ~ .ftrlist {
    max-height: 70px;
}


#list1:checked + label i,
#list2:checked + label i,
#list3:checked + label i,
#list4:checked + label i,
#list5:checked + label i,
#list6:checked + label i,
#list7:checked + label i,
#list8:checked + label i,
#list9:checked + label i,
#list10:checked + label i,
#list11:checked + label i {
    transform: rotate(180deg);
}

footer{p
    {   margin: 30px 0;
        a{
            text-decoration: underline;
        }
    }
}
footer{
    hr{
        width: 100%;
    }
}
@media (min-width: 349px) {
    .catalogy-one {
      width: 50%; 
      display: inline-block;
    }
  
}
@media only screen and (min-width: 576px) {
    .blocs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bloc {width: 50%;}
        
}


  
@media only screen and (min-width: 768px) {
    h1 {font-size: 3em;}
    .container , #fpheader {
        max-width: 1200px;
        margin: auto;
    }
    .nav{display:flex ;}
    .menu-icon{display: none;}
    #dmenu{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-weight: 600; 
        font-size: 0.66em;
        padding: 0 10px;
    }
    #tnmbg{
        background: url('../img/titanium-pc.png') center / contain no-repeat;
        margin: auto;
        max-width: 60%; 
    }
    #newimg {
        height: 55vh;
        background-size: cover;
        margin-top: 30px;
    }
    #iphone{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #iphntxt, #iphnbg {
        width: 50%;
    }
    #iphnbg {
        height: 100vh;
        width: 500px;
    }
    #flmbg{display: none;}
    #film{
        background: url('../img/applebg12.jpeg') center / cover no-repeat;
        height: 100vh;
        border-radius: 50px;
        margin: 20px;
       
    }
    #flmtxt{color: white;}
    #txt{font-size: 1.6em;}
    #flmtxt a i{display: none;}
    #flmtxt a {
        background-color: white;
        opacity: 60%;
        color: black;
        border-radius: 20px;
        padding: 10px 20px;
    }
    #filmtext{
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: left;
        margin-left: 60px;
    }
    #catalogy{
        display: flex;
        margin: 20px 150px;
    }
    .catalogy-one {width: 25%; }
    .cards{
        display: flex;
    }
    .ways{
        display: flex;
    }
    .ways {
        .way {
            width: 50%;
        }
    }

    .why {
        height: 85vh;
        background: url('../img/applebg6.jpeg') center / cover no-repeat;
    }
    .why div {
        max-width: 500px;
        margin: auto;
    }
    .whybg{display: none;}
    .accessories-h1 {
        width: 300px;
        text-align: center;
        padding: 20px;
    }
    .mag, .air{
        display: flex;
        align-items: center;
        padding: 30px;
    }
    .mag {
        .mag-img {
            height: 60vh;

        }
    }

    .mag .mag-txt,.mag .mag-img, .wtop, .app { width: 50%;}

    .mag h2, .air h2, .magic h2{font-size: 2.8em;}
    .air-img {
        order: -1;
        height: 60vh;
        background-image: url('../img/appleanahtarlik.jpeg');
        width: 50%;
    }
    .magic-img, .what-img {
        display: inherit;
        height: 50vh;}
    .whattop{display: flex;}
    h2 {font-size: 2.8em;}
    .get-noneimg{display: inherit;}
    .get-noneimg img{height: 50vh;}
    .app {
        height: 60vh;

    }
    .flists{display: flex;}
    .list {width: 20%;}
    .list i {display: none;}
    .ftrlist {max-height: 250px;}
    label a {font-size: 1.2em;}
    .list div {border-bottom: none;}
    .end{
        display: flex;
        justify-content: space-between;}
@media only screen and (min-width: 992px) {
    .bloc{width: 33.33%;}
}
}